[2015-01-06 18:13] benedictpaten opened #1 "Tests don't work"
In tests/ there is test.py file. This needs to have tests each of the run configurations described in the readme with the provided test files.

[2015-01-06 18:14] benedictpaten opened #2 "Needs to use virtualenv"
Currently the code depends on pysam and numpy. These dependencies should be managed by virtual env.

[2015-01-08 02:09] mitenjain commented on #2
virtualenv is working now.

[2015-01-08 02:09] #2 closed, assigned to nobody

[2015-01-08 02:09] mitenjain commented on #1
marginAlign tests running successfully.

[2015-01-08 07:15] benedictpaten commented on #2
Great!

On Wed, Jan 7, 2015 at 6:09 PM, Miten Jain notifications@github.com wrote:

[2015-01-09 20:18] benedictpaten commented on #1
I'm seeing some errors on my end, please check

[2015-01-09 20:20] benedictpaten opened #3 "need to add VCF output to marginCaller"
In line 87 of marginCallerLib.py you'll see where we want to write out a VCF file of the SNV calls. Please add this output (there is some other missing stuff, but I can get that done over the weekend).

[2015-01-10 22:20] benedictpaten commented on #1
Also, we need tests for marginCaller.

[2015-01-10 22:25] benedictpaten opened #4 "Runtime assessments/using EC2 to benchmark"
To write this up we need to record runtimes for how long it takes (wall and processing time) to process a minion dataset, both for marginAlign and marginCaller.

I think it would be good to do this on EC2, and to use docker to create a container that would run on EC2 as a push button process - that way an outside group without compute could use a beefy EC2 instance to process minion datasets with

[2015-01-27 07:59] mitenjain opened #5 "Segmentation fault in marginAlign"
[miten@ku margin]$ ./marginAlign tests/reads.fq tests/reference.fa tests/test.sam --jobTree ./jobTree
The job seems to have left a log file, indicating failure: /hive/users/miten/pipeline_full_runs/marginAlign/margin/jobTree/jobs/job
Reporting file: /hive/users/miten/pipeline_full_runs/marginAlign/margin/jobTree/jobs/log.txt
log.txt:    ---JOBTREE SLAVE OUTPUT LOG---
log.txt:    /bin/sh: line 1: 1

[2015-02-17 21:47] #5 closed, assigned to benedictpaten

[2015-02-17 21:47] mitenjain opened #6 "Segmentation fault error when there are two references"
---JOBTREE SLAVE OUTPUT LOG---
/bin/sh: line 1: 24546 Done                    echo cigar: channel_439_read_57 0 1122 + DNA_CS 0 3
559 + 1 D 1838 I 1 M 7 D 1 M 3 I 2 M 6 D 1 M 13 I 1 M 2 I 1 M 7 I 1 M 16 D 1 M 35 D 1 M 47 I 1 M 1
 I 2 M 11 D 3 M 45 I 2 M 26 I 1 M 2 I 1 M 18 D 2 M 17 I 1 M 36 D 2 M 4 D 1 M 8 I 2 M 7 D 1 M 9 I 1
 M 52 D 1 M 8 D 1 M 9 D 3 M 29 D 1 M 18 D 3 M 12 D 1 M 19 I 2 M 103 D 1

[2015-02-18 01:04] mitenjain commented on #3
VCF writer functional now. More changes as need arises.

[2015-02-18 01:04] #3 closed, assigned to mitenjain

[2015-02-25 16:56] benedictpaten commented on #6
Hi Miten,

Is this for marginAlign, marginCall or both?

[2015-02-25 16:58] mitenjain commented on #6
Hi Ben,

I have not checked this for marginCall. I can check it right now and get
back to you in a few minutes.

Best regards,
Miten

On Wed, Feb 25, 2015 at 8:56 AM, Benedict Paten notifications@github.com
wrote:

[2015-02-25 16:59] benedictpaten commented on #6
What would be most helpful would be if you could add a test to the unit-tests that has two references for marginAlign. That way I can fix this and we'll know it's fixed in future revisions.

[2015-02-25 17:12] mitenjain commented on #6
Sure. I will do it ASAP.

On Wed, Feb 25, 2015 at 8:59 AM, Benedict Paten notifications@github.com
wrote:

[2015-02-28 18:37] mitenjain opened #7 "Assembly hub (changing realignment from global to local)"
link to hub: http://hgwdev.soe.ucsc.edu/~miten/ecoli_hub/hub.txt
link to assembly hub on browser: http://genome.ucsc.edu/cgi-bin/hgTracks?hgS_doOtherUser=submit&hgS_otherUserName=miten&hgS_otherUserSessionName=Test_hub_40127_E.coli_K12
link to hub on hgwdev: /cluster/home/miten/public_html/ecoli_hub

[2015-03-02 06:12] benedictpaten commented on #6
Just pushed a fix - I note that some tests fail because the file "./tests/input2Refs.sam" is not in the repo.. possibly forgot to commit?

[2015-03-02 06:12] #6 closed, assigned to nobody

[2015-03-02 06:13] #1 closed, assigned to mitenjain

[2015-03-02 06:24] mitenjain commented on #6
Committed. Sorry for forgetting earlier.

All tests working now.

On Sun, Mar 1, 2015 at 10:12 PM, Benedict Paten notifications@github.com
wrote:

[2015-03-02 07:03] benedictpaten commented on #6
Great, I'm working on the local alignment vs. global alignment issue.

On Sun, Mar 1, 2015 at 10:24 PM, Miten Jain notifications@github.com
wrote:

[2015-03-23 23:18] vadimzalunin opened #8 "tests/input1Ref.sam is missing"
#
## FAIL: testMarginCaller1Ref (**main**.TestCase)

Traceback (most recent call last):
  File "tests/tests.py", line 64, in testMarginCaller1Ref
    self.validateSam("./tests/input1Ref.sam")
  File "tests/tests.py", line 26, in validateSam
    self.assertTrue(os.path.isfile(samFile))
AssertionError: False is not true
#
## FAIL: testMarginCallerNoMarginalize1Ref (**main**.TestCase)

Traceback (mos

[2015-03-23 23:33] mitenjain commented on #8
Resolved. The file went (accidentally) missing.

[2015-03-23 23:33] #8 closed, assigned to nobody

[2015-04-11 01:01] benedictpaten commented on #7
Fixed on localCoordinates branch - but needs testing. Will close this issue when testing complete and pushed to master.

[2015-04-11 01:03] benedictpaten opened #9 "Adding identity print output to test"
As a simple test of correctness, it would be helpful if each test in tests/test.py that creates a sam file were to report the avg. identity / avg. coverage / total number of alignments in the sam file.

[2015-04-11 01:17] benedictpaten opened #10 "Making test data bigger"
The tests reads.fq file is too small to provide a thorough test. I propose we include around 20 reads in the file - this will provide a better sampling for testing purposes.

[2015-04-11 01:18] benedictpaten commented on #10
It would also be good to increase the size of the sam files for margin caller.

[2015-04-11 01:20] benedictpaten opened #11 "MarginCall tests are inadequate"
To test if margin call is working as expected, it would be good if the test data included some known snps, and the test checked to see if they are recovered. Ideally the tests should report a precision/recall value, similar to that given in the original paper.

[2015-04-11 01:20] benedictpaten opened #12 "Plots is broken on localCoordinates"
Refactoring has removed some methods from utils that are needed for the plots code (this is my bad) - they should be added back.

[2015-04-11 01:22] benedictpaten commented on #9
It would also be good if each test reported how long it took to run marginAlign(Call), so that we can do some basic performance evaluation.

[2015-04-11 20:05] benedictpaten opened #13 "bwa and last are not run in parallel for marginAlign"
I'm doing some test runs - it would be much quicker to split up the input fastq files to speed up last/bwa

[2015-04-13 16:29] benedictpaten opened #14 "Add support for assembly hubs"
There is a script in the nanopore pipeline for creating a custom track + assembly hub for a given sam file and reference. Please add to scripts.

[2015-04-13 16:39] benedictpaten opened #15 "Documentation is out of date"

[2015-04-13 21:44] mitenjain commented on #7
Utility to create Assembly Hub done. To be tested on E. coli data shortly.

[2015-04-13 22:11] mitenjain commented on #14
createAssemblyHub.py and faToTwoBit now added to scripts. A shell wrapper called createAssemblyHub added as well.
Tests successful on alignments from the new reads.fq (31 reads).

[2015-04-13 22:11] #14 closed, assigned to mitenjain

[2015-04-14 21:55] #10 closed, assigned to mitenjain

[2015-04-14 21:56] benedictpaten commented on #11
I'm taking this on now - don't worry.

[2015-04-14 21:56] benedictpaten commented on #9
Done.

[2015-04-14 21:56] #9 closed, assigned to benedictpaten

[2015-04-20 06:36] benedictpaten commented on #12
replaced by simpler marginStats

[2015-04-20 06:36] #12 closed, assigned to benedictpaten

[2015-04-20 06:37] benedictpaten commented on #15
Stills needs tutorial on running em and doing adjustment of model with modifyHmm.

[2015-04-20 06:37] benedictpaten commented on #11
Much improved, closing for now.

[2015-04-20 06:37] #11 closed, assigned to mitenjain

[2015-04-20 06:38] benedictpaten opened #16 "marginStats is slow"
Performance to calculate runtime is way too slow.

[2015-04-20 15:07] benedictpaten opened #17 "Add support for BAQ like score"
marginAlign should output alignment quality scores, like BAQ, using the posterior probs it calculates.

[2015-04-20 15:07] benedictpaten commented on #7
Miten - please test.

[2015-04-20 16:51] mitenjain commented on #7
Tested successfully on 10 E.coli test reads (lengths up to 11 kb).

[2015-04-20 16:51] #7 closed, assigned to benedictpaten

[2015-04-20 17:54] twaddlac opened #18 "Error When Running Burn-In Data"
Good day,

I am receiving an error when trying to run marginAlign with the default parameters. Below the command that I ran as well as the error report. Please let me know if you need any other information, thank you very much!

[code]

[2015-04-20 19:12] benedictpaten commented on #18
Sorry for the hassle. I pushed a v0.1 release last night. Can you confirm
you are using this (i.e. that you've updated your distribution according to
the instructions on the website / checked-out a fresh distribution)? Also,
are you using the virtual-env?

On Mon, Apr 20, 2015 at 10:54 AM, twaddlac notifications@github.com wrote:

[2015-04-21 13:54] twaddlac commented on #18
Yes, I am using the most recent version, and no I am not using a virtual
environment. I checked out the newest distro yesterday afternoon with no
avail.

On Mon, Apr 20, 2015 at 3:12 PM, Benedict Paten notifications@github.com
wrote:

##

Alan

[2015-04-21 15:10] benedictpaten commented on #18
Hi, it seems like an odd corner case. Is it possible for you to send me
your input files to test? I'm not sure I can work out what's going on from
the error alone. Sorry for the hassle,

Benedict
(from phone)
On Apr 21, 2015 6:54 AM, "twaddlac" notifications@github.com wrote:

[2015-04-28 18:10] twaddlac commented on #18
Sorry for the delayed response, one of the latest pulls fixed the issue. Thanks for you help!

[2015-05-19 09:49] lfaino opened #19 "no mapping quality in final Sam file"
Hi all,
I have an issue when I run marginAlign. The first sam file contains the mapping quality (all of them are 255) while the last sam file all the quality goes to 0. how can I fix this problem? are you thinking to fix in a next release?

thanks
Luigi

[2015-07-23 02:30] #18 closed, assigned to nobody

[2015-12-13 11:56] demharters opened #21 "marginCaller - no such file 'posteriorProbs.txt'"
When trying to call SNVs with marginCaller the programme crashes and I get the following output (I am only posting one instance of many identical messages):

**Mac OS X (El Capitan):**
$ marginCaller input.sam reference.fasta output.vcf
/Users/sam/software/marginAlign/src/margin/mappers/last_hmm_20.txt
0.3
The job seems to have left a log file, indicating failure: /Users/sam/jobTree/jobs/t3/t2/job

[2016-02-25 20:42] mitenjain commented on #21
The marginCaller module was crashing due to special characters in fasta file. I am fixing it on a branch, and will update this.

[2016-02-25 20:43] mitenjain commented on #19
Hi Luigi,

We are planning on including a BAQ type score in the next release. This is coming shortly, over the next few weeks.

Thank you.

Best regards,
Miten

[2016-02-25 20:43] #19 closed, assigned to nobody

[2016-02-26 16:35] mitenjain commented on #21
Need to fix ASAP

[2016-03-09 21:11] mitenjain commented on #21
This should be fixed now.

[2016-03-09 21:11] #21 closed, assigned to mitenjain

[2016-05-03 03:17] icymiktreize opened #22 "Reference fasta file"
Hi,
I managed to map my FASTQ file with human genome with marginAlign. When trying with reference fasta file I created, it did not work. This file contains IUPAC code beside A; T; G; C. I just wonder if that's the problem.
Cheers

[2016-05-25 12:57] mitenjain commented on #22
Hello,

Sorry for the delay. Currently, marginAlign does not support nucleotide letters besides A's, C's, G's, and T's. We are working on adding some support on this in the next release.

Thank you.

[2016-05-25 12:57] #22 closed, assigned to mitenjain

[2016-07-05 16:24] Jeltje opened #23 "MarginStats gets index out of range for alignedSegment"
I ran marginAlign on nanopore data. Full disclosure: my database was Gencode transcripts, not genome, but it seemed to work just fine (the sam header was just really, really long).
But when I tried marginStats on the output, I kept getting this `index out of range` error. I played some with the code, but I can't seem to find the problem.

Minimal example [input here](http://hgwdev.cse.ucsc.edu/~je

[2016-07-05 17:16] mitenjain commented on #23
This looks like an issue with pysam. Are you using virtualenv with marginAlign (pysam==0.8.2.1)? If not, could you check your pysam version? Pysam can have significant variations within versions.

We are working on speeding marginStats as well as containerize it to reduce dependence on version specific libraries.

[2016-07-05 18:18] Jeltje commented on #23
Yes, that did it. I have `0.9.1.3` on my system. Thanks!

[2016-07-05 18:18] #23 closed, assigned to mitenjain

[2016-07-13 02:33] icymiktreize opened #24 "VCF format"
Hi there,

I used marginAlign and marginCaller to analyse my data. I just wonder if the VCF format generated by marginCaller can be converted into normal format. That will make it easier for downstream analysis. Thank you.

K

[2016-07-25 16:06] mitenjain commented on #24
Hello,
Sorry for the delay in getting back, and for the hassle. We can certainly change the VCF format if the current one is not suitable for downstream processing.

Would you mind sharing an example with the format you recommended? My email is miten@soe.ucsc.edu.

Thank you.

[2016-08-26 01:48] noncodo opened #25 "MarginStats "string index out of range""
marginStats --mismatchesPerAlignedBase MarginAlign_em_bwa_pass2D_merged.sam pass_2d_merged.fastq ../RefSeq.fasta

`Traceback (most recent call last):
  File "/Users/martinsmith/apps/marginAlign/src/margin/marginStats.py", line 97, in <module>
    main()
  File "/Users/martinsmith/apps/marginAlign/src/margin/marginStats.py", line 70, in main
    referenceFastaFile, globalAlignment=not options.local

[2016-08-27 00:03] mitenjain commented on #25
Sorry for the hassle.
This error seems like a resultant from a missing space or newline character in reference fasta. Could you check if the reference fasta file has a newline at the end?

Also, if you could send me (miten@soe.ucsc.edu) a toy set of reads and your reference, that will help me reproduce the error at our end and resolve it quickly.

[2016-09-07 20:53] JohnUrban opened #26 "marginStats"
Hi,

Thanks for the marginAlign suite. It is great.

I was wondering if there was a way to have marginStats (or other approach) go through alignments and spit out the read name and identity instead of stats. E.g.:

[code]

I tried:

[code]

which as you know outputs something like:

[code]

Are the values here in the same order that reads appear in the SAM file?

best,

  John

[2016-09-07 22:26] mitenjain commented on #26
Hi John,

The values are in the same order as reads in the SAM file. We can add a flag to output read names as well if that is useful. Part of the reason for not doing thus far that is to avoid large file sizes (if the read headers were included).

Cheers,
Miten

[2016-09-08 00:41] JohnUrban commented on #26
Hi Miten,

If they are in the same order as the SAM file, then it should be easy enough to work with as is.

Nonetheless, if it is easy enough to add an option to get the type output I described above, I'd gladly use it.

best,
  John

[2016-09-20 16:31] #25 closed, assigned to mitenjain

[2016-10-14 14:39] bsipos opened #27 "Compilation error"
I get the following compilation error on Ubuntu 14.04:

`
...
cp CuTest.h ../../lib/
make[4]: Leaving directory`/opt/marginAlign/submodules/sonLib/externalTools/cutest'
make[3]: Leaving directory `/opt/marginAlign/submodules/sonLib/externalTools'
make[2]: Leaving directory`/opt/marginAlign/submodules/sonLib'
make[1]: **\* [all.sonLib] Error 2
make[1]: **\* Waiting for unfinished jobs....
impl/pair

[2016-10-17 17:36] mitenjain commented on #27
Sorry for the hassle. Could you check if you have Ubuntu-appropriate zlib and libxml and libxzlt installed?

I checked the install and it worked for me in Ubuntu 16.10. I did have to install zlib1g-dev, python-dev, libxml2-dev, and libxslt-dev.

Could you try installing from scratch again with these installs in place?

Thank you.

[2016-10-18 12:25] bsipos commented on #27
Problem solved, it was not caused by missing dependencies: it seems if I try to compile it with "make -j" then it fails as above, but it compiles fine with just "make".

[2016-10-20 18:21] mitenjain commented on #27
Thank you. Let us know if you get any other issues.

[2016-10-20 18:21] #27 closed, assigned to mitenjain

[2016-11-09 16:49] JohnUrban commented on #16
I am experiencing the slowness at the moment. Do you know how long it should take for a 1-2 million reads?

[2016-11-09 16:51] mitenjain commented on #16
It could take a couple of hours, if the reads are long (~10 kb). I will fix a patch for this in a few days. Sorry for the hassle.

[2016-11-09 16:59] JohnUrban commented on #16
Thank you. Actually it has been running for 16 hours already. Is there anyway to use multiple threads? I may need to devise a divide-and-conquer strategy.

[2016-11-09 17:07] JohnUrban commented on #16
If I run it on 50-100 reads, it seems to suggest it will take 400 hours to finish 2 million reads. Does that sound correct?

[2016-11-09 17:11] benedictpaten commented on #16
Are you doing both training and alignment on the reads?

Benedict
(from phone, forgive extra typos)

On Nov 9, 2016 9:07 AM, "John Urban" notifications@github.com wrote:

[2016-11-09 17:16] JohnUrban commented on #16
For the big job I am running (2 million reads), I am running marginStats (to get pct identity values) on a set of nanopore reads previously aligned by BWA (independent of marginAlign). These reads are mapped to an ~300 Mb assembly.

For the 50-100 reads I checked the speed with, it was on lambda nanopore reads previously aligned with marginAlign. Of course, these reads are mapped to the 48.5 kb la

[2016-11-09 17:25] mitenjain commented on #16
400 hours seems odd, esp. if you are just running stats. I have done stats on ~125000 reads in around 5.5 hours (parallelizing on 32 cpu's).

There are ways we can speed this up further. I am out of town till tomorrow, but will look into this ASAP.

[2016-11-09 17:28] JohnUrban commented on #16
But are you parallelizing by splitting up the SAM files or is there a parallelization option?

I do massively appreciate you looking into this and responding so quickly. Feel free to ignore this until you get back in town.

[2016-11-13 14:58] JohnUrban commented on #16
Did you make any progress on this? Either way, can you let me know your strategy for parallelizing to 32 CPUs. Was it just breaking it up and executing into 32 separate BAM files? Is it a little more sophisticated than that? There is a potential learning moment to be had here.

[2016-11-13 21:17] mitenjain commented on #16
Sorry, haven't gotten to it yet.

There are two ways to parallelize, one requires using the jobTree framework (this is being upgraded now) where you can specify cpu and memory. The simplest way to do it is as you mentioned, with multiple SAMs and running using parallel (I have done that too in the past).

I will confirm once I have looked at the stats code for speeding it up.

[2016-11-14 18:30] mitenjain commented on #16
Did that help? I am going to push a possible fix later today/early tomorrow that should help with this.
Apologies for the delay.

[2016-11-14 18:58] JohnUrban commented on #16
No worries. I appreciate your help. Thanks for clarifying your parallelization strategy. I will break the BAM up into a ton of smaller pieces. Also, I will wait to try your possible fix. Thanks for looking into this.

[2016-12-29 12:23] danarte opened #28 ""make test" failed with 6 Errors all for testMarginAlign*"
It seems all the tests for alignment failed with a similar error:
[code]
I have no idea what might cause the error.

Information about the system:
Version of bwa "0.7.15-r1142-dirty"
Version of lastal "lastal 801"
List of python packages installed:
`['atlas==0.27.0', 'avro==1.8.1', 'biopython==1.64', 'bx-python==0.7.3', 'certifi==2016.2.28', 'cffi==1.7.0', 'click==6.6', 'cmd2==0.6.8', 'cnvkit==0.7

[2016-12-29 17:11] mitenjain commented on #28
Hello,

This seems like a pysam version error. marginAlign uses pysam==0.8.2.1 (other requirements here: https://github.com/benedictpaten/marginAlign/blob/master/requirements.txt). Are you using virtualenv?

Please let us know if using virtualenv or appropriate requirements help fix the issue. We are in process of containerizing all of the requirements which will be done in a few days.

Sorry for

[2017-01-03 10:23] danarte commented on #28
I was able to resolve the issue with pysam and now when I run the tests everything is OK.

But, now I have this problem when I'm trying to align some test files:

[code]

[2017-01-03 17:19] mitenjain commented on #28
What is probably happening is an index error arising due to the lack of a terminal space/newline character.
Could you insert a new line at the end of the reference fasta sequence and try again?

[2017-01-05 08:47] danarte commented on #28
Strange, I really didn't have a terminating newline character in the fasta but when I added a newline and tried running marginAlign with default settings it still didn't work with the same error. I added --bwa and the software worked without errors.
Then I tried running with --bwa on the original reference (without a newline) and got this error:
[code]

I was able to map with bwa and last separate

[2017-01-05 19:54] mitenjain commented on #28
This is strange. I suspect there is still an odd behavior due to fasta and pysam. Are you using virtualenv for marginAlign?

Could you send a few of your reads and reference so I can reproduce this at our end? My email is miten@soe.ucsc.edu

Apologies for the hassle.

[2017-01-09 17:23] mitenjain commented on #28
Hi Artem,
I recommend installing your own pip and virtualenv on server since that gives a lot of control. Let us know if you still get issues once your IT guys have installed proper python and dependencies on the server.
Best regards,
Miten and Benedict

[2017-01-09 17:23] #28 closed, assigned to mitenjain

[2017-01-22 15:21] danarte commented on #16
Hello, is there an option for using multiple CPUs (threads) with marginStats ?

[2017-01-27 01:56] mitenjain commented on #16
The easiest way to speed it up is to break the samfiles and run in parallel. We are working on a newer design of the code that will parallelize this. This should be available very soon.

[2017-01-27 01:56] #16 closed, assigned to mitenjain

[2017-03-17 18:29] conchoecia opened #29 "--maxThreads?"
Hello,

I am running marginAlign and used `--maxThreads 90`, however the process `lastal` is only using one thread. Is this normal?

What parts of marginAlign are parallelized, and is the `=` necessary between `--maxThreads` and the argument?

Thanks!

[2017-04-05 00:10] Ubsam opened #30 "Make test fails"
Hey Benedict,

After successfully completing all the previous steps in a UNIX server environment (remote login) the make test stage results in Failure, with 10/17 errors.

Not entirely sure what might have gone wrong. Tried troubleshooting by performing all steps inside the environment first, no luck there, currently trying to see if setting the path shortcuts fixes the issue.

[2017-04-05 00:15] mitenjain commented on #30
Hello,

Are you using virtualenv? Could you send me the error messages so I Can try and reproduce them on our end. My email is miten@soe.ucsc.edu

Sorry for the hassle.
-Miten, Benedict

[2017-04-05 00:16] mitenjain commented on #29
Hello,

I am working on a fix to parallelize BWA and LAST within the framework. This fix should be pushed shortly.

Sorry for the hassle.
-Miten

[2017-04-05 00:19] Ubsam commented on #30
Of course I can! I am using anaconda to create a virtual environment. I will email you the error messages ASAP, the error seems to be the same for all of them:

AttributeError: ReadAlignmentStats instance has no attribute 'identity'

Except the last one (testMarginStats)
Traceback (most recent call last):
  File "./tests/tests.py", line 208, in testMarginStats
    (self.marginStats, self.inputSamF

[2017-04-05 01:13] mitenjain commented on #30
Hello,

Apologies. I had forgotten to update the tests. If you did a git pull and then re-ran tests, they should now work.

Please let us know if this resolves the problem.

[2017-04-05 01:25] Ubsam commented on #30
This resolved the problem! All 17 tests passed :)

Time for me to actually start using the program!

[2017-04-05 01:25] #30 closed, assigned to mitenjain

[2017-07-05 01:27] eyasi opened #31 "make error"
Hello,

I keep getting this error when using the make command . Any ideas on how to fix this? Thanks!

[code]

[2017-07-05 06:06] mitenjain commented on #31
Hello,

Sorry for the hassle.

Could you tell a little more about the system and what was the command you ran? My email is miten@soe.ucsc.edu.

-Miten

[2017-07-15 11:44] amnaniamin opened #32 "marginAlign & marginCaller errors"
Hi,

I'm using Ubuntu 16.04 LTS on virtualbox. I got the following error when running marginAlign for Nanopore reads.

Then, I also got the following error when running marginCaller for SAM file (aligned using BWA-MEM).

What should i do to solve the issues?

Thanks.

[2017-07-15 17:08] mitenjain commented on #32
For issue 1, how was the fastq file generated? If you could send a test example to miten@soe.ucsc.edu, I can try reproducing the issue at our end and push a fix.

Issue 2 seems to have arisen due to the presence of "N" in the reference fasta file. If you replace the "N"s in the file and re-run, ti should work. I need to put in a workaround for this (WIP).

Apologies for the hassle.
-Miten & Benedi

[2017-08-08 18:43] ngotoor2 opened #33 "input fasta files"
Hi,
Can we use  .fasta as input read files?
Is it hard-coded to work only with  only .fastaq files as input? If yes, where is the code for that?

[2017-08-08 18:50] mitenjain commented on #33
Hello,

Yes, the present implementation works only with fastq. It is something we have been intending to fix for some time, since we internally convert fastq to fasta before aligning the sequences. I will try to push a patch this week to fix this.

Sorry for the hassle.
-Miten

[2017-08-08 21:09] ngotoor2 commented on #33
Awesome and thanks! I'll check back later this week for any updated changes.

[2017-10-02 15:16] ngotoor2 commented on #33
Hi Miten,
Just wondering if the implementation supports .fasta as input now?

[2017-10-02 17:37] mitenjain commented on #33
Hello,

Sorry for the delay. I'll have that patched up in a couple of days. I'll let you know when done.

[2017-10-19 23:08] cliu32 opened #34 "marginAlign: command not found"
I followed the instructions and everything seems to be fine up to "make test". It was successful without using the virtualenv. And then when I tried to call marginAlign, I got "command not found". Not sure what I missed and I'd appreciate any help. Many thanks!

[2017-10-20 20:30] mitenjain commented on #34
Hello,

Are you giving the entire /path/to/marginAlign or is marginAlign added to your default path? We recommend using virtualenv because it encompasses all dependencies.

Best regards,
Miten

[2017-10-20 20:59] cliu32 commented on #34
Thanks for the response! I could not call it when I was in the margin base directory. I can see marginAlign right there, and the make test worked well without the virtualenv. Any thoughts?

Chang

[2017-10-20 21:19] mitenjain commented on #34
Have you tried running it as ./marginAlign from the base? That may force the executable.

[2017-10-20 22:50] cliu32 commented on #34
./marginAlign works. Thank you!

[2017-10-25 03:01] ccp3 opened #35 "marginAlign error, jobTree"
Hello! After running the marginAlign code as directly stated, I received several long error messages, such as "The job seems to have left a log file, indicating failure: /path/to/directory/jobTree/jobs/job" and "raise RuntimeError("Invalid FASTA character, ASCII code = \'%d\', found in input sequence %s" % (ord(i), name))". Could you please provide suggestions on how I could fix this? Thanks!

[2017-10-25 05:27] mitenjain commented on #35
Does your reference FASTA file contain abnormal characters? And are you using FASTQ file for reads?

[2017-10-25 05:27] #34 closed, assigned to nobody

[2017-10-25 05:28] #31 closed, assigned to mitenjain

[2017-12-11 07:04] LotusWang0723 opened #36 "make test fail"
After I run make test, it is reported that there is no vcf module

File "./tests/tests.py", line 4, in <module>
    from margin.marginCallerLib import vcfRead
  File "/data/ltwang/software/marginAlign/src/margin/marginCallerLib.py", line 1, in <module>
    import pysam, sys, os, collections, vcf, datetime
ImportError: No module named vcf
Makefile:5: recipe for target 'test' failed
make: *** [test]

[2017-12-11 07:12] mitenjain commented on #36
Hello,

Are you using a virtualenv? That will allow you to contain all dependencies (listed in requirement.txt).

Thank you.

[2017-12-11 08:03] LotusWang0723 commented on #36
Thanks a lot. I forgot to use virtualenv. Now make test can run correctly.

[2017-12-11 08:03] #36 closed, assigned to mitenjain

[2017-12-14 13:28] MiWitt opened #37 "marginCaller: very long Cigar causes "Argument list too long" error"
Hi,

the error seems to be thrown when a very long read/alignment (90kb) is processed. Please find the lines from my log file below:

cigar: 1ec35c6d-fed6-4814-8ef1-eaeb5e34c360 162178 253472 + chr17 21851107 21942767 + 1.000000 M 5 D 12 I 12 M 5 D 8 I 7 M 2 D 24 I 25 M 3 D 121 I 142 M 2 D 104 I 110 M 3 D 170 I 151 M 1 D 7 I 6 M 5 D 17 I 20 M 3 D 7 I 6 M 2 D 165 I 182 M 1 D 653 I 668 M 7 D 513 I 5

[2017-12-14 17:03] mitenjain commented on #37
Hello,

Could you send that read and your reference so I can reproduce and fix this (miten@soe.ucsc.edu)?

Thank you.

[2018-01-01 05:48] cliu32 opened #38 "Error: sees to be looking for enriron.pickle at the wrong location"
Hi, I was trying to run the basic command line: marginAlign fastqfile fastaRef test.sam --jobTree ./jobTree but ran into the following error message and the program stalled.
Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run

[2018-01-01 05:56] mitenjain commented on #38
Hello,

Are you using a virtualenv? If not, could you try using it?

If you could send me some test data I can try and reproduce the error on our end. This will help us debug the issue.

Thank you.

[2018-01-01 06:11] cliu32 commented on #38
Thanks for the quick response. I moved the job from my external hard drive to the internal hard drive, and the problem disappeared. But I got the following error message:
log.txt:	---JOBTREE SLAVE OUTPUT LOG---
log.txt:	lastdb: bad symbol: -
I do have '-' in my fasta reference file as spacerholders between two exons. Is there a way to keep these placeholders? Thanks and happy new year.

[2018-02-10 16:15] mbhall88 opened #39 "No space left on device"
Hi,
I was wondering if you might be able to help me decrypt this error message?
I am have the most recent release version 0.1. This job was run with the command
[code]
It was run on a cluster node with 50GB memory allocated and 16 CPUs. The job failed with message:
[code]
I am assuming `IOError: [Errno 28] No space left on device` is the clue. Just not sure if it is alluding to memory or disk spac

[2018-04-09 21:38] mitenjain commented on #39
Sorry for the delay. This seems like a memory issue. Have you tried the memory option using jobTree as well? That may help.

We also have a toil version of marginAlign if you'd like to try that. The documentation in that one is in need of a substantial overhaul, but I could help you running with it if you want.

[2018-04-09 21:40] mitenjain commented on #38
There isn't at the moment I am afraid. You could substitute that with an N and bwa will align it (I think minimap2 will as well). Not sure how that plays with downstream processing since marginAlign presently isn't compatible with the splice-aware CIGAR strings.

[2018-04-09 21:40] #38 closed, assigned to mitenjain

[2018-04-09 21:41] mitenjain commented on #37
Hello, just checking if you were able to resolve this?

[2018-04-09 21:42] mitenjain commented on #32
Hi there, just checking in if this issue is resolved for you?

[2018-04-10 03:56] mbhall88 commented on #39
Sorry, forgot about this. Ended up figuring it out but needed a HUGE amount of RAM.
I'll keep the other version in mind for future and get in touch if need be.
Thanks!

[2018-04-10 03:56] #39 closed, assigned to mitenjain

[2018-04-10 04:15] mitenjain commented on #35
Hello, just checking if you resolved this?

[2018-04-10 05:09] ccp3 commented on #35
Yes, all resolved!

Thank you!

On Tue, Apr 10, 2018 at 12:15 AM, Miten Jain <notifications@github.com>
wrote:

--
Catherine Pollack
B.S. Candidate, Biomedical Engineering
Statistics (Engineering Concentration)
Rodman Scholars Program | Society of Women Engineers
School of Engineering and Applied Sciences | University of Virginia
cpollack@virginia.edu | 540.497.3419

[2018-04-10 05:34] #35 closed, assigned to nobody

[2018-04-13 22:54] #37 closed, assigned to mitenjain

[2018-04-13 22:54] #32 closed, assigned to mitenjain

[2018-07-19 11:41] flokraft85 opened #40 "RuntimeError: Got failed jobs"
Hi,
after starting marginAlign and running for several hours I got this error message. But I could not interpret what it meant.

mStart --logInfo --stats --maxThreads=28 --minimap2
Logging set at level: INFO
Logging to file: None
Logging set at level: INFO
Logging to file: None
The job tree appears to already exist, so we'll reload it
Written the config file
Setting up the thread pool with 28 thre

[2018-07-24 16:42] herrroaa opened #41 "installation error"
Hi,
I installed marginAlign, I did a test run (make test) and it was successful, please see below the final part of the test run result.
However, when I try to call marginAlign it returns
`-bash: marginAlign: command not found`

`.AverageReadIdentity 0.795369618446
MedianReadIdentity 0.795369618446
MinReadIdentity 0.720926843486
MaxReadIdentity 0.869812393405
ValuesReadIdentity 0.869812393405	0.72

[2018-07-24 17:40] mitenjain commented on #41
Hello,

Are you running the executable from the marginAlign directory itself? If so, you'll probably need to run it as ./marginAlign. Could you check and try this?

Thank you.

[2018-07-24 17:43] mitenjain commented on #40
Hello,

Sorry for the delay. Are you deleting the jobTree folder between each run? If you don't, the new run will pick up from the previous jobTree, and hence will just be trying to continue where it left off (i.e. crashed) and crash again. As a quick test you could try running marginAlign with --minimap2 --noChain --noRealign option (this will run it as a stock minimap2 alignment).

Could you sen

[2018-07-24 18:26] herrroaa commented on #41
Hi,
It seems to work after trying ./marginAlign.
Can I know why it worked after using this hidden file while it did not when I used the executable marginAlign?
Also can I use marginCaller with bam files generated using any other aligners (as for example minimap2 / bwa)?

Thanks a lot

[2018-07-25 06:20] mitenjain commented on #41
When you are in the base directory, you are specifying the executable by using the ./. If you add marginAlign to your $PATH then you won't need to do this.
At this moment, marginAlign works with a SAM files that could have been generated by any aligner (LAST, BLASR, LASTZ, BWA, minimap2, GraphMap etc.). I will try and bring in BAM compatibility in short order.

Hope this helps. Let me know as you

[2018-07-25 06:20] #41 closed, assigned to mitenjain

[2018-07-25 15:24] herrroaa opened #42 "Job: ~/marginAlign/jobTree/jobs/t0/t1/t3/t3/t2/job is completely failed"
Hi,
I tried to use marginAlign, but I got this error message (see below).
However marginAlign generated a sam file (BC01_margin.sam). I then generated a sam file using minimap2. I then covered the two sam files into bam and compared them. I found that they are identical.
So I wonder what is this error message, and shall I ignore it?

`./marginAlign BC01.fastq NCBI.GRCh38.fa BC01_margin.sam --minim

[2018-07-25 17:33] mitenjain commented on #42
I think this is due to the model for realigning being old. I will have to retrain a new model for minimap2 as well as R9.4.1. Also, I think I need to allocate more memory to the chaining and realigning jobs. I will try to get to fixing this in a few days. In the meantime, you can run your command with two additional flags, like:

./marginAlign BC01.fastq NCBI.GRCh38.fa BC01_margin.sam --minimap2 -

[2018-07-26 20:58] herrroaa commented on #42
I tried the command with --noChain --noRealign and it worked well.
1- Could you please explain what exactly do these flags do.
2- Is there a flag that can be used with maginCaller that specify the coverage depth at a position (fo example include only 100 reads at a position for snp calling).
I designed my experiment in a way that provides high depth of coverage (>5000). I want to call SNPs using d

[2018-07-27 15:12] herrroaa opened #43 "raise RuntimeError("Got failed jobs") RuntimeError: Got failed jobs`"
Hi,
I used marginAlign to align my reads which was successful. I then used marginCaller to call SNPs, mariginCaller took long time (it ran for more than 12 hours)
How can I solve this?

`./marginAlign BC05.fastq NCBI.GRCh38.fa BC05_noalignchain.sam --minimap2 --jobTree ./jobTree --noChain --noRealign`

`./marginCaller BC01_noalignchain.sam NCBI.GRCh38.fa BC01.vcf --noMargin --jobTree ./jobTree`

/

[2018-07-28 06:34] herrroaa commented on #40
Hi,

I had the same exact error, after running my script for 12 hours.
Did you manage to fix it?

Thanks

[2018-07-28 07:05] mitenjain commented on #42
1. Sure, --noChain --noRealign should mean you are running a stock aligner i.e. in its default setting without any EM, chaining, or realigning. This test being successful is a good sign.
2. There is a --threshold parameter to adjust the posterior probability when looking for high-confidence SNVs. Typically >0.5 or 0.6 should yield these high-quality predictions. You could also filter a SAM file yo

[2018-07-28 07:06] #42 closed, assigned to mitenjain

[2018-07-28 07:10] mitenjain commented on #43
I think this is due to the reference file containing the "N" character in some sequences (I think that the human chrM contains one). Also, the speed slowdown arises from the scale of the compute being at the human genome level. We are in process of improving the scale of marginAlign for better handling of larger datasets as well as reference genomes.

Could you try removing Ns from the reference a

[2018-07-28 07:15] mitenjain commented on #40
Hi both,

Is this happening when using chaining and realigning? If the test using --minimap2 --noChain --noRealign finishes then this would be a chaining issue (combined with the need for a trained R9.4 model) for realigning. I will put a new realignment model in a couple of days.

Another quick test, what is your reference file? If you created one yourself, you may want to check if it has a newli

[2018-07-28 07:37] flokraft85 commented on #40
Hi Miten,
sorry for the delayed response, I was a few days out of the lab.
I use the hg19 ref file from UCSC.
Yes, indeed it happened utilizing realignment. I will test the -noChain -noRealign options today.
With deleting the old job tree folder, it process the alignment until the realignment job and then I got this error:
Got message from job at time: 1532681815.85 : Going to realign sam file: /h

[2018-07-28 14:43] herrroaa commented on #42
Does the --threshold parameter to adjust the posterior probability control the number of reads at a position (coverage). I want to generate a similar graph to the one you showed in your publication (fig attached)

![screen shot 2018-07-28 at 9 41 15 am](https://user-images.githubusercontent.com/16629861/43357642-7cd4c734-924a-11e8-8191-fcb64eb1c69a.png)

[2018-07-31 04:13] mitenjain commented on #42
This plot is based on randomly sampled coverage and performed with multiple sampling. Here is a description for how we did this for the paper: https://media.nature.com/original/nature-assets/nmeth/journal/v12/n4/extref/nmeth.3290-S1.pdf

Please let me know as you have further questions.

[2018-09-10 20:15] nadakubikova opened #44 "RuntimeError - "expected three arguments""
Hi,

I am running into problem when trying to execute marginAlign. Has anybody got any idea about the error message I got? I am new in this community. This is what I ran:

(env) Nadas-MBP:marginAlign nadakubikova$ ./marginAlign /Users/nadakubikova/Documents/Sequenced\ Data/fastq_First\ Nanopore\ Run/downloads/PASS/BC01/BC01_trimmed.fastq /Users/nadakubikova/Documents/Sequenced\ Data/fastq_First\ N

[2018-09-10 20:23] mitenjain commented on #44
Hello,

Could you remove the spaces in the path folders (replace with "_" perhaps) and try again? I think that may be the causing factor.

Best regards,
Miten

[2018-09-10 21:49] nadakubikova commented on #44
Hi Miten,

Many thanks for you help, I really appreciate it. I tried again but this time I got a different error message.

(env) Nadas-MBP:marginAlign nadakubikova$ ./marginAlign /Users/nadakubikova/Documents/Sequenced\Data/fastq_First\Nanopore\Run/downloads/PASS/BC01/BC01_trimmed.fastq /Users/nadakubikova/Documents/Sequenced\Data/fastq_First\Nanopore\Run/downloads/PASS/BC01/chr1.fa /Users/nadakub

[2018-09-10 21:56] mitenjain commented on #44
Hi Nada,

I think you will have to rename the folders themselves before you run marginAlign. Something like:

./marginAlign /Users/nadakubikova/Documents/Sequenced_Data/fastq_First_Nanopore_Run/downloads/PASS/BC01/BC01_trimmed.fastq /Users/nadakubikova/Documents/Sequenced_Data/fastq_First_Nanopore_Run/downloads/PASS/BC01/chr1.fa /Users/nadakubikova/Documents/Sequenced_Data/fastq_First_Nanopore_Run

[2018-09-11 08:27] nadakubikova commented on #44
Hi Miten,

Thanks again for your help. I tried the code below but got again the same error.

(env) Nadas-MBP:marginAlign nadakubikova$ ./marginAlign /Users/nadakubikova/Documents/Sequenced_Data/fastq_First_Nanopore_Run/downloads/PASS/BC01/BC01_trimmed.fastq /Users/nadakubikova/Documents/Sequenced_Data/fastq_First_Nanopore_Run/downloads/PASS/BC01/chr1.fa /Users/nadakubikova/Documents/Sequenced_Data

[2018-09-11 09:00] nadakubikova commented on #44
Hi again Miten,

Just a quick update, I am finally running marginAlign :). It just didn’t like directories be named with more than 2 words I think so I renamed the files and it seems to have worked. Fingers crossed!

Best,
Nada

From: Nada Kubikova <nada.kubikova@bnc.ox.ac.uk>
Date: Tuesday, 11 September 2018 at 09:27
To: benedictpaten/marginAlign <reply@reply.github.com>
Subject: Re: [benedictpat

[2018-09-15 10:59] nadakubikova commented on #4
Hi guys,
Where things stand with using EC2 to benchmark for those who don't have the compute but need to process MinION data sets :D. I am finding that the run times are okay for me when aligning against a single chromosome but not against whole genome.

[2018-09-15 17:01] mitenjain commented on #4
Hello,

We have implemented a version that uses toil and works on EC2. This was used for the nanopore human genome paper. It should be still functional and needs some code tweaking. We can make that available in a couple weeks time and will add a link here for the code.

-Miten

[2018-10-28 17:32] #44 closed, assigned to mitenjain

[2018-10-28 17:33] mitenjain commented on #43
Were you able to fix this?

[2018-10-28 17:33] #43 closed, assigned to mitenjain

[2018-10-28 17:34] mitenjain commented on #40
Hi Florian,

Did the nochain norealign option work?

-Miten

[2018-10-28 17:34] #40 closed, assigned to mitenjain

[2018-11-04 16:51] alanorth opened #45 "Please tag releases in git"
It's difficult to install this system wide in a cluster environment because it doesn't have a proper version. Right now I'm just using versions like `marginalign/git-2369dafd` with the commit hash for our environment modules.

[2018-12-14 11:08] sarah872 commented on #42
I am experiencing the same error. I tried the command
`./programs/marginAlign/marginAlign reads.fastq.gz chromosome.fasta marginalign.sam --jobTree ./programs/marginAlign/submodules/jobTree/bin/jobTree --minimap2 --noChain --noRealign`

But I am getting this error message:

[code]

[2018-12-14 21:08] mitenjain commented on #42
Hello,

A couple of things, you need to unzip the reads FASTQ file. Also, for --jobtree you just need to provide a name that can be used to create the log of jobs. The marginAlign/submodules/jobTree/bin/jobTree is the executable not a folder to work from.

Could you try again, and send a MWE for me to reproduce the error?

Thank you.

[2018-12-16 12:17] sarah872 commented on #42
Thanks for the clarification!

[2019-01-30 14:31] tetedange13 opened #46 "PySam error with MarginAlign+Minimap2 (last realease)"
Hello,

I am trying to **use MarginAlign with the last release of Minimap2** (`2.15-r908-dirty`) and I had several issues:

1) I had this mysterious PySam error, that has not yet been mentionned in any issues (I think).
I did the following sequence of commands to install MarginAlign and get the last release of Minimap2:
[code]
Everything went fine, both on the `make test` and using a toy dataset (

[2019-01-30 19:27] mitenjain commented on #46
Hi Felix,

Couple of thoughts.
1. Was the virtualenv functional before you had to update pysam?
2. When you say a large size file, how large are you talking about?
3. For the hmm file, you should consider training your own model since the stock one is out of data (and needs updating with a newer one). I will try to find a newer R9.4 human trained em model to upload. The hmm file came from last as

[2019-01-30 21:24] tetedange13 commented on #46
Hi Miten, <br><br>

Thanks for your very quick answer.

1. I **only had 1 issue** creating the virtualenv (with distribute and markerLib https://github.com/pypa/setuptools/issues/535) but this package did not seem to be essential as:
- The `make test` worked ;
- The alignment with Minimap2 (last release) + realignement of my toy dataset against the database (see the part about MWE bellow for detai

[2019-03-11 22:01] ngleadall opened #47 "marginCall issues: AttributeError: 'NoneType' object has no attribute 'operationList'"
Hi there,

Attempting to run marginCall on a .sam produced by minimap2. Built according to readme (using a venv) and all tests passed.

Getting the below error, any ideas?

The job seems to have left a log file, indicating failure: /rds/project/who1000/rds-who1000-wgs10k/WGS10K/data/projects/nanopore/us/analysis/PromethION_temp/NND/G008984/variant_calling/marginCaller/jobTree/jobs/job
Reporting fi

[2019-06-23 09:34] mmiladi opened #48 "marginsStats"
Hello,

I am trying to use marginStats to collect alignment stats from minimap2 aligned data of a direct RNA sample, this error is reported:

[code]

[2019-06-23 16:21] mitenjain commented on #48
Are you using a minimap2 with -ax map-ont settings? And did you remove the secondary and supplementary alignments?

marginStats presently works with primary alignments only (and with -ax map-ont setting). If you do use chaining within marginStats it does the cleaning up of the sam file itself.

Hope this is useful.

[2019-06-24 13:10] mmiladi commented on #48
Thanks much for pointing this out. No I had not excluded the secondary alignments as default was -N=5. About the minimap2 I used `-x splice -k 14 -uf`, wouldn't `-x map-ont` run a splice-unaware alignment?

Is the chaining an option of the marginStats binary?

[2019-06-24 16:14] mitenjain commented on #48
Yes, marginAlign can chain the alignments to the most contiguous alignment per read. Presently, this only works with the splice unaware alignments (-ax map-ont). Chaining and realignment are enabled by default. You can use --noChain and --noRealign to turn one or both of them off independently.

When measuring stats for splice-aware alignments, I instead use a trancriptome reference at this point

[2019-06-27 01:27] ghost opened #49 "ImportError: No module named pysam"
I am attempting to install marginAlign into a cluster environment utilising the lmod modules system (so I suppose I am also echoing alanorth's request to please tag your releases in git).

I have satisfied each of the dependencies listed in the requirements.txt and am able to import them successfully into the system python.

However, running any of the executables results in an import error relate

[2019-06-27 06:28] mitenjain commented on #49
Sorry for the hassle. I agree we need to tag our releases in git, and will get this effected shortly.

Re: pysam, if your system python has the same version of pysam (and other dependencies as in requirements.txt) then it should be fine. I haven't tested lmod thus far, but can do it next week.

Did you create a virtualenv? It may be worth trying to do it via the virtualenv?

[2019-06-28 00:52] ghost commented on #49
Thanks for your prompt reply. Unfortunately we sort of prefer not to complicate our cluster environment by installing a virtualenv. I was initially using a slightly newer version of pysam (0.9.0), however, I have also tested with the version listed in the reqs. (0.8.2.1) without success. Looking forward to the results of your lmod test.

[2019-06-28 01:31] mitenjain commented on #49
Pysam 0.8.2.1 not working is weird. What is the OS on your cluster? I'll try to reproduce the issue on our end if possible.

[2019-06-28 01:32] ghost commented on #49
CentOS release 6.7 (Final)

(we are definitely due for an upgrade!)

[2019-08-02 15:38] agos316 commented on #49
Hi,
I ran into the same problem, check your pysam install, if it says it isn't installed just install on your virtualenv, if it works try the code again, I had to install htslib in the virtual environment to get pysam to install

Note: ensure that the install is pysam=0.8.2.1 or youll run into a string index error

Best

Marc

[2020-09-25 01:30] maximus-sci commented on #32
Hello,

I'm getting the first error that the OP posted:
[code]

What does this error mean? I can email one of the fasta files to someone if that will help...

[2020-09-25 01:37] mitenjain commented on #32
A MWE would help. Could you email it to miten@soe.ucsc.edu?